body {
    background-image: url(../images/pika.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

form {
    width: 30%;
    margin-left: 180px;
    margin-top: 500px;
}

.form-title {
   font-weight: bold;
   font-size: 30px;
}

.form-text {
    color: black;
}

.resultado {
   
}
