body {
    background-image: url(../images/pika.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.formulario {
    width: 30%;
    margin-left: 180px;
    margin-top: 200px;
}

.form-title {
   font-weight: bold;
   font-size: 30px;
}

.form-text {
    color: black;
}

.resultado {
   width: 50%;
   margin: 0 auto;
   padding-top: 50px;
}

.table {
    margin-top: 50px;
    margin-left: 40px;
}
.canvasjs {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}