body {
    background-image: url(../images/Pikachuwallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
}

form {
    width: 20%;
    margin-left: auto;
    margin-right: 250px;
    margin-top: 370px;
}

.form-title {
   font-weight: bold;
   font-size: 30px;
}

.form-text {
    color: black;
}

